#brand_title{
    font-size: 30px;
    font-weight: bold;
}
#logo{
    width: 80px;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 10px;
}
.row .col-md-6 .navbar .nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.myaccount .navbar {
    list-style-type: none;
    background-image: linear-gradient(to right, blue, black);
    flex-direction: column;
    width: 20%;
    height: 500px;
}